@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Crito.Models.ViewModels.SearchViewModel>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
}


<div>
    <form action="@Model.Url()" method="get">
        <input type="text" placeholder="Search" name="query" />
        <button>Search</button>
    </form>
</div>


<div>
    @if (Model.SearchResults.Any())
    {
        <ul>
            @foreach (var content in Model.SearchResults)
            {
                <li>
                    <a href="@content.Url()">@content.Name</a>
                </li>
            }
        </ul>
    }
    else if (Model.HasSearched)
    {
        <p>No results found</p>
    }
    else
    {
        <p>röv</p>
    }
</div>
